#{extends 'main.html' /}
#{set title:'Edit Event' /}

#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/playmanual/manual.css'}" type="text/css" media="screen" charset="${_response_encoding}">
	<!--<link rel="stylesheet" href="@{'/public/playmanual/wiki.css'}" type="text/css" media="screen" charset="${_response_encoding}">-->
#{/set}

<div class="wrapper">

	<div id="docSidebar">
		<div id="logo">
			<img src="@{'/public/playmanual/logo.png'}">				
			<h2 id="version">Play ${play.version}</h2>
		</div>

		<h2>Logged in as: ${me.name}</h2>

        <h2>Links</h2>
        <ul>
			<li><a href="@{Application.index()}">Home</a></li>
			<li><a href="@{Application.getUsers()}">Users</a></li>
			<li><a href="@{Application.index()}logout">Logout</a></li>
        </ul>
    </div>

	<div id="pageContent">
		<div class="wikistyle">
			<h1>${event?'Edit':'Add'} event</h1>

			<form action="@{Application.saveEvent()}" method="GET">
				<table id="editEvent">
					<tr>
						<td class="first">Name:</td>
						<td><input type="text" name="newEventName" value="#{ifErrors}${flash.newEventName}#{/ifErrors}#{else}${event?event.name:''}#{/else}" /><span class="error">#{error 'newEventName' /}</span></td>
					</tr>
					<tr>
						<td class="first">Start:</td>
						<td><input type="text" name="startDate" value="#{ifErrors}${flash.startDate}#{/ifErrors}#{else}${event?(event.printDate(event.start)):dateString}#{/else}" /><span class="error">#{error 'startDate' /}#{error 'endAfterStart' /}#{error 'Start.invalidDate' /}</span></td>

						<td class="first">Time:</td>
						<td><input type="text" name="startTime" value="#{ifErrors}${flash.startTime}#{/ifErrors}#{else}${event?(event.printTime(event.start)):timeString}#{/else}" /><span class="error">#{error 'startTime' /}#{error 'Start.invalidTime' /}</span></td>
					</tr>
					<tr>
						<td class="first">End:</td>
						<td><input type="text" name="endDate" value="#{ifErrors}${flash.endDate}#{/ifErrors}#{else}${event?(event.printDate(event.end)):dateString}#{/else}" /><span class="error">#{error 'endDate' /}#{error 'End.invalidDate' /}</span></td>

						<td class="first">Time:</td>
						<td><input type="text" name="endTime" value="#{ifErrors}${flash.endTime}#{/ifErrors}#{else}${event?(event.printTime(event.end)):timeString}#{/else}" /><span class="error">#{error 'endTime' /}#{error 'End.invalidTime' /}</span></td>
					</tr>
					<tr>
						<td class="first">Public:</td>
						<td><input type="checkbox" name="isPublic"#{ifErrors}${flash.isPublic? ' checked=checked':''}#{/ifErrors}#{else}${event?(event.isPublic ? ' checked=checked':''):''}#{/else} /></td>
					</tr>
				</table>
				<input type="hidden" name="calendarName" value="${calendar.name}" />
				<input type="hidden" name="eventID" value="${event?event.ID:-1}" />
				<!--<ul id="editEvent">
					<li>Name: <input type="text" name="newEventName" value="#{ifErrors}${flash.newEventName}#{/ifErrors}#{else}${event?event.name:''}#{/else}" /><span class="error">#{error 'newEventName' /}</span></li>
					<li>Start: <input type="text" name="startDate" value="#{ifErrors}${flash.startDate}#{/ifErrors}#{else}${event?(event.printDate(event.start)):dateString}#{/else}" /><span class="error">#{error 'startDate' /}#{error 'endAfterStart' /}#{error 'Start.invalidDate' /}</span></li>
					<li>Time: <input type="text" name="startTime" value="#{ifErrors}${flash.startTime}#{/ifErrors}#{else}${event?(event.printTime(event.start)):timeString}#{/else}" /><span class="error">#{error 'startTime' /}#{error 'Start.invalidTime' /}</span></li>
					<li>End: <input type="text" name="endDate" value="#{ifErrors}${flash.endDate}#{/ifErrors}#{else}${event?(event.printDate(event.end)):dateString}#{/else}" /><span class="error">#{error 'endDate' /}#{error 'End.invalidDate' /}</span></li>
					<li>Time: <input type="text" name="endTime" value="#{ifErrors}${flash.endTime}#{/ifErrors}#{else}${event?(event.printTime(event.end)):timeString}#{/else}" /><span class="error">#{error 'endTime' /}#{error 'End.invalidTime' /}</span></li>
					<li>Public: <input type="checkbox" name="isPublic"#{ifErrors}${flash.isPublic? ' checked=checked':''}#{/ifErrors}#{else}${event?(event.isPublic ? ' checked=checked':''):''}#{/else} /></li>

				</ul>-->
				<input type="submit" value="Save" />
			</form>
        </div>
    </div>
			
</div>