#{extends 'main.html' /}
#{set title:'Events' /}

#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/playmanual/manual.css'}" type="text/css" media="screen" charset="${_response_encoding}">
	<!--<link rel="stylesheet" href="@{'/public/playmanual/wiki.css'}" type="text/css" media="screen" charset="${_response_encoding}">-->
#{/set}

<div class="wrapper">

	<div id="docSidebar">
		<div id="logo">
			<img src="@{'/public/playmanual/logo.png'}">				
			<h2 id="version">Play ${play.version}</h2>
		</div>

		<h2>Logged in as: ${me.name}</h2>
		
		<h2>Events</h2>
		<ul>
			<li><a href="@{Application.getEvents(calendar.owner.name, calendar.ID, todayDate)}">Today</a></li>
		</ul>

        <h2>Links</h2>
        <ul>
			<li><a href="@{Application.index()}">Home</a></li>
			<li><a href="@{Application.getUsers()}">Users</a></li>
			<li><a href="@{Application.index()}logout">Logout</a></li>
        </ul>
    </div>

	<div id="pageContent">
		<div class="wikistyle">
			<h1>Calendar: ${calendar.name}</h1>

<div id="monthTitle">
			<div id="prevMonth">
				#{if cal.get(java.util.Calendar.MONTH) < 1}
					<a href="@{Application.getEvents(calendar.owner.name, calendar.ID, (12+"/"+1+"/"+(cal.get(java.util.Calendar.YEAR)-1)))}"><img src="/public/images/arrow_left.png" height="40" width="42" /></a>
				#{/if}
				#{else}
				<a href="@{Application.getEvents(calendar.owner.name, calendar.ID, (cal.get(java.util.Calendar.MONTH))+"/"+1+"/"+cal.get(java.util.Calendar.YEAR))}"><img src="/public/images/arrow_left.png" height="40" width="42" /></a>
				#{/else}
			</div>
			
			<div id="nextMonth">
				#{if cal.get(java.util.Calendar.MONTH)+2 > 12}
					<a href="@{Application.getEvents(calendar.owner.name, calendar.ID, (1+"/"+1+"/"+(cal.get(java.util.Calendar.YEAR)+1)))}"><img src="/public/images/arrow_right.png" height="40" width="42" /></a>
				#{/if}
				#{else}
					<a href="@{Application.getEvents(calendar.owner.name, calendar.ID, (cal.get(java.util.Calendar.MONTH)+2)+"/"+1+"/"+cal.get(java.util.Calendar.YEAR))}"><img src="/public/images/arrow_right.png" height="40" width="42" /></a>
				#{/else}
			</div>
									
			<div id="monthName">
				${monthName+' '+cal.get(java.util.Calendar.YEAR)}
			</div>
			</div>
			
			<table id="calendar">
				<tr>
					<td class="title">Mon</td>
					<td class="title">Tue</td>
					<td class="title">Wed</td>
					<td class="title">Thu</td>
					<td class="title">Fri</td>
					<td class="title">Sat</td>
					<td class="title">Sun</td>
				</tr>
				<tr>
					${cal.set(java.util.Calendar.DAY_OF_MONTH, 1)}
					#{if (((cal.get(java.util.Calendar.DAY_OF_WEEK)-2)+7) % 7) > 0}
						#{list items:1..(((cal.get(java.util.Calendar.DAY_OF_WEEK)-2)+7) % 7), as:'i'}
							<td></td>
						#{/list}
					#{/if}
				
					#{list items:1..cal.getActualMaximum(java.util.Calendar.DAY_OF_MONTH), as:'i'}
						${cal.set(java.util.Calendar.DAY_OF_MONTH, i)}

						<td#{if dateFormat.format(cal.getTime()) == selectedDate} id="selected"#{/if}#{elseif dateFormat.format(cal.getTime()) == todayDate} id="today"#{/elseif}><a href="@{Application.getEvents(calendar.owner.name, calendar.ID, dateFormat.format(cal.getTime()))}">#{if calendar.getEventIterator(cal.getTime(), me).hasNext()}<b>${i}</b>#{/if}#{else}${i}#{/else}</a></td>
						#{if ((((cal.get(java.util.Calendar.DAY_OF_WEEK)-2)+7) % 7)) % 7 == 6}
							</tr><tr>
						#{/if}
					#{/list}
				
					${cal.set(java.util.Calendar.DAY_OF_MONTH, 1)}
					#{if (((((cal.get(java.util.Calendar.DAY_OF_WEEK)-2)+7) % 7)+cal.getActualMaximum(java.util.Calendar.DAY_OF_MONTH)) % 7) > 0}
						#{list items:((((cal.get(java.util.Calendar.DAY_OF_WEEK)-2)+7) % 7)+cal.getActualMaximum(java.util.Calendar.DAY_OF_MONTH)) % 7..6, as:'i'}
							<td></td>
						#{/list}
					#{/if}
				
				</tr>
			</table>
			
			<h2>Events#{if calendar.owner.name == me.name}
			<a href="@{Application.editEvent(calendar.ID, -1, selectedDate)}"><img src="/public/images/add.png" alt="Add Event" height="15" width="15" /></a>
			#{/if}</h2>
			
			#{if events.hasNext()}
			<table id="events">
				#{list items:events, as:'event'}
				<tr>
						<td class="event">${event.printTime(event.start)} - ${event.printTime(event.end)}: ${event.name} #{if event.isPublic}(Public)#{/if}#{else}(Private)#{/else}</td>
						#{if calendar.owner.name == me.name}<td class="edit"><a href="@{Application.editEvent(calendar.ID, event.ID)}"><img src="/public/images/edit.png" alt="Edit Event" height="15" width="15" /></a></td>#{/if}
						#{if calendar.owner.name == me.name}<td class="delete"><a href="@{Application.deleteEvent(calendar.ID, event.ID)}"><img src="/public/images/delete.png" alt="Delete Event" height="15" width="15" /></a></td>#{/if}
					</tr>
				#{/list}
			#{/if}
			</table>
			#{else}
				No events on ${selectedDate}
			#{/else}
        </div>
    </div>
			
</div>